# emacs
*~

/.quarto/
/output/
/_site/

# julia related
/.julia/

# R related files
.Rhistory
.RData

# latex related
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
**/*.quarto_ipynb

# exiftool backup files
*.jpg_original
